<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH - Colearning 17_05</title>
  </head>
  <body>
    <% for(let i = 1;i<5;i++){%>
    <h1>Teste <%= i %></h1>
    <% } %>
  </body>
</html>
